{% extends "layout.html" %}
{% block body %}
  <div class="ui-body ui-body-c ui-corner-bottom">
    <h3>Run a command on your server by filling the inputs below:</h3>
    
    {% if session.logged_in %}
      <form action="{{ url_for('ssh_session') }}" method=post class=add-entry>
          <label for="ip">IP</label>
          <input type=text size=30 name=ip value={{ values['ip'] }}>
          
          <label for="port">Port</label>
          <input type=text size=30 name=port value={{ values['port'] }}>
          
          <label for="user">User</label>
          <input type=text size=30 name=user value={{ values['user'] }}>
          
          <label for="password">Password</label>
          <input type=password size=30 name=password>
          
          <label for="command">Command</label>
          <input type=text size=30 name=command value={{ values['command'] }}>
          
          <input data-theme=b type=submit value=Run>
          <input type="reset" value="Reset" data-theme="c"/>          
        </dl>
      </form>
    {% endif %}
  </div>

{% endblock %}
